@charset "UTF-8";
/* 

NOTE:

This can be removed if all index.html references are pointed to sosa-font.css

--Ben

 */
/* =========================================================================
   Variables - assets based on local machine
   ========================================================================= */
/* =========================================================================
   Font - Sosa icons and rules
   ========================================================================= */
@font-face {
  font-family: 'sosa';
  src: url('../fonts/sosa/sosa-regular-webfont.eot');
  src: url('../fonts/sosa/sosa-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sosa/sosa-regular-webfont.ttf') format('truetype'), url('../fonts/sosa/sosa-regular-webfont.svg#sosa') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: sosa;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-code:before {
  content: "D"; }

.icon-pin:before {
  content: "o"; }

.icon-fb:before {
  content: "v"; }

.icon-twitter:before {
  content: "t"; }

.icon-gplus:before {
  content: "Ć"; }

.icon-arrow-left:before {
  content: "‹"; }

.icon-arrow-right:before {
  content: "›"; }

.icon-mail:before {
  content: "É"; }

.icon-user:before {
  content: "Ü"; }

.icon-linkedin:before {
  content: "ļ"; }

.icon-linked-in:before {
  content: "ą"; }

.icon-outside:before {
  content: "p"; }

.icon-search:before {
  content: "\\"; }

.icon-clock:before {
  content: "["; }

.icon-notebook:before {
  content: "7"; }

.icon-people:before {
  content: "Ý"; }

.icon-gamepad:before {
  content: ">"; }

.icon-piechart:before {
  content: "F"; }

.icon-home:before {
  content: "Ç"; }

.icon-heart:before {
  content: "c"; }

.icon-chain:before {
  content: "ä"; }

.icon-camera:before {
  content: "2"; }

.icon-calendar:before {
  content: "["; }
