<div id="speakers" class="container">
  <div class="separator">
    <span class="separator--icon icon-code"></span>
  </div>
  <h2 class="type--lead">The speakers</h2>
  
  <div class="separator" ng-if="list.showSessions">
    <div class="separator--item">
      <span>View: </span>
      <select name="s1" id="s2">
        <option value="0">All days</option>
        <option value="1">Monday, June 22</option>
        <option value="2">Tuesday, June 23</option>
      </select>
    </div>
  </div>

  <ul class="speakers">
    <li class="row" ng-repeat="speaker in list.speakers">
      <div class="col-sm-2">
        <div class="speakers--image">
          <img ng-src="{{speaker.imageUrl}}" alt="{{speaker.name}}">
        </div>
      </div>
      <div class="speakers--info col-sm-10">
        <header class="heading small">
          <h4 class="color">{{speaker.name}}</h4>
          <div class="social colored">
            <speaker-social-icons speaker="speaker"></speaker-social-icons>
          </div>
          <p class="heading--sub">{{speaker.bioShort}}</p>
        </header>
        <div class="speakers--info--detail" ng-if="list.showSessions">
          <ul class="list--default">
            <li><b>Building Platforms with angular.js</b> Monday, June 22 - 10 AM &nbsp;&nbsp;<span class="label label-danger">The future of angular</span></li>
            <li><b>Run digest cycle in web worker</b> Wednesday, June 24 - 3 PM</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

</div>
