<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent>

          <remove fileExtension=".eot" />
          <remove fileExtension=".woff" />
          <remove fileExtension=".tif" />
          <remove fileExtension=".tiff" />
          <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
          <!--<mimeMap fileExtension=".woff" mimeType="application/x-woff" />-->
          <remove fileExtension=".woff" />
          <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
          <mimeMap fileExtension=".tif" mimeType="image/tiff" />
          <mimeMap fileExtension=".tiff" mimeType="image/tiff" />
          <mimeMap fileExtension=".json" mimeType="application/cache" />
          <mimeMap fileExtension=".appcache" mimeType="application/json" />

     </staticContent>
    </system.webServer>
</configuration>