<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent>
          <remove fileExtension=".woff" />
          <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
          <mimeMap fileExtension=".tif" mimeType="image/tiff" />
          <mimeMap fileExtension=".tiff" mimeType="image/tiff" />
          <mimeMap fileExtension=".json" mimeType="application/cache" />
          <mimeMap fileExtension=".png" mimeType="image/png" />
          <mimeMap fileExtension=".appcache" mimeType="application/json" />

     </staticContent>
    </system.webServer>
</configuration>