//Rounded Container
@mixin roundBorder {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  @include box-shadow(0px 0px 6px 3px hsla(0, 0%, 0%, 0.1));
}

// Rounded Container Generic
@mixin borderRadius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin boxShadow($x, $y, $size) {
	-moz-box-shadow:    $x $y $size 0 #ccc;
	-webkit-box-shadow: $x $y $size 0 #ccc;
	box-shadow:         $x $y $size 0 #ccc;
}

// Background that exactly fills the container
@mixin backgroundCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//Sprites
@mixin imageSprites {
  background: transparent url($cdm-path + "/Content/Images/sprites.png") no-repeat;
}

//Sprites
@mixin imageSpritesCSSC {
  background: transparent url($cdm-path + "/Content/Images/sprites-cssc.png") no-repeat;
}
