<div id="home">
    <section class="nav--section live-feed" ng-show="home.codecampyear.showLiveFeedCurrent">
        <div class="container">
            <div class="row row-centered">
                <div class="col-md-10 col-centered">
                    <h2 class="type--lead"><span class="type--color">{{home.codecampyear.liveFeedTitle}}</span></h2>

                    <div class="video-embed">
                        <iframe ng-src="{{ home.iFrameSrcLiveStream}}" width="431" height="263" frameborder="0"
                                allowfullscreen></iframe>
                        <!--<iframe ng-src="{{ home.iFrameSrc }}" width="431" height="263" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen >-->
                        </iframe>
                    </div>

                    <div class="row">
                        <div class="col-sm-9 live-feed-info text-center" ng-show="home.showLiveFeedInfo" >

                            <h3>Now playing: <span ><a class="type--color" target="_blank"   ng-href="{{home.codecampyear.liveFeedSessionUrl}}">{{ home.codecampyear.liveFeedSessionTitle }}</a></span> by {{ home.codecampyear.liveFeedSessionSpeakersCsv }}</h3>
                            <span  class="label label-danger label-alt">Live Feed and Talk Sponsored by <a ng-href="{{home.codecampyear.liveFeedSponsorUrl}}" target="_blank" class="type--color">{{ home.codecampyear.liveFeedSponsorName}}</a></span>
                            <p>{{ home.codecampyear.liveFeedSessionDescription }}</p>
                        </div>
                        <div class="col-sm-3">
                            <div class="live-feed-share">
                                <h4 class="live-feed-share-title">Share this on: </h4>
                                <ul class="live-feed-share-list">
                                    <li><a ng-href="http://twitter.com/angularu" target="_blank" class="icon-twitter"></a></li>
                                    <li><a ng-href="https://www.facebook.com/angularu" target="_blank" class="icon-fb"></a></li>
                                </ul>

                                <a href="Videos"   ><button class="btn btn-primary btn-full">View all the videos</button></a>
                            </div>
                        </div>
                    </div>


                    <!--<a href="Videos"   ><button class="btn btn-primary btn-lg center-block">Recorded Sessions</button></a>-->

                    <div class="social center-block">
                        <h4>Don’t want to miss anything? <a href="https://angularu.com/angu/StayUpToDate"
                                                            class="type--color">Get email alerts</a> or follow us on:
                        </h4>
                        <ul>
                            <li><a ng-href="http://twitter.com/angularu" target="_blank" class="icon-twitter"></a></li>
                            <li><a ng-href="https://www.facebook.com/angularu" target="_blank" class="icon-fb"></a></li>
                            <li><a ng-href="https://plus.google.com/b/100446488804563546766/" target="_blank"
                                   target="_blank" class="icon-gplus"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container nav--section">

        <div class="row row-centered">
            <div class="col-sm-12 col-centered">
                <h2 class="type--lead">
                    <span class="type--color">Covering Angular 1.x, 2, <br>
                    TypeScript, ECMAScript 6, Web Components and More</span>
                </h2>

                <!-- <h2 class="type--lead"><span class="type--color" ng-bind-html="home.title2"></span></h2> -->

                <div class="row text-center">
                    <div class="col-sm-6 mb20">
                        <h3 class="type--lead">Free Live Stream of Angular U Keynotes</h3>
                        <a href="/angu/LiveFeedNotify" class="btn btn-primary btn-lg">Sign up for the live feed</a>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="type--lead">Evening community event on June 23</h3>
                        <a href="/angu/CommunityEvent" class="btn btn-primary btn-lg">Sign up for the event</a>
                    </div>
                </div>

                </span>
                </h3>

                <!--<button class="btn btn-primary btn-lg center-block"   href='/angu/LiveFeedNotify'  >-->
                <!--&lt;!&ndash;Signup For The Live Feed of All Keynotes.&nbsp;&nbsp;&nbsp; Details Here</button>&ndash;&gt;-->
                <!--</span></h3>-->

            </div>


        </div>




        <div class="content--sectionx">
            <h2 class="type--lead">Keynote Presenters</h2>
            <keynote-presenters presenters="speakers.keynotes"></keynote-presenters>
            <button ng-hide="home.showSpeakers" class="btn btn-primary btn-lg center-block">Full Agenda Coming Soon
            </button>
        </div>


        <div class="content--section media" id="media">
            <div class="row">
                <div class="videos col-sm-6">
                    <div class="video--main">
                        <h3 class="video--main--title">
              <span class="type--lead type--color" style="font-weight: 700;font-size: 16px;">
                {{home.currentVideo.title}}&nbsp;
              </span>
              <span ng-show="home.currentVideo.tweet.length > 0"
                    ng-bind-html="home.home.createTweetAnchor(home.currentVideo.tweet,false)"></span>
              <span ng-show="home.currentVideo.tweet.length > 0"
                    ng-bind-html="home.createTweetAnchor(home.currentVideo.tweet,true)"></span>
                        </h3>

                        <div class="video-embed">
                            <iframe ng-src=
                                            "{{ home.iFrameSrc }}"
                                    width="431" height="263" frameborder="0" webkitallowfullscreen mozallowfullscreen
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <ul class="video--list">
                        <li ng-repeat="vid in home.homePageVideos">
                            <a ng-href="#" ng-click="home.ChangeHomePageVideo(vid.vimeoId)">
                                <img ng-src='{{ vid.thumbNail }}' alt="" class=""/></a>
                            <span ng-if="vid.vimeoId === home.currentVideo.vimeoId"
                                  class="video--playing">Playing</span>
                        </li>
                    </ul>

                    <div class="text-center">
                        <a ng-href="/Videos">
                            <button class="btn btn-primary">More videos</button>
                        </a>
                    </div>
                </div>
                <div class="news col-sm-6">
                    <ul class="news--list">
                        <li class="news-single">
                            <div class="news-single--date">
                                <span class="news-single--month">June</span>
                                <span class="news-single--day">8</span>
                            </div>
                            <a ng-href="/News/2015sf/rangleios-women-who-code-contest-announced"
                               class="news-single--content">
                                <span class="news-single--category">News</span>

                                <h3 class="news-single--title">Rangle.io's Women Who Code Contest Announced</h3>
                            </a>
                        </li>

                        <li class="news-single">
                            <div class="news-single--date">
                                <span class="news-single--month">April</span>
                                <span class="news-single--day">15</span>
                            </div>
                            <a ng-href="/News/2015sf/brad-green-tells-us-what-to-expect-at-angular-team-keynote-at-angular-u"
                               class="news-single--content">
                                <span class="news-single--category">News</span>

                                <h3 class="news-single--title">Brad Green Tells Us What to Expect at Angular Team
                                    Keynote at Angular U</h3>
                            </a>
                        </li>
                        <li class="news-single">
                            <div class="news-single--date">
                                <span class="news-single--month">April</span>
                                <span class="news-single--day">7</span>
                            </div>
                            <a ng-href="/News/2015sf/honored-to-have-angular-u-on-angularjsorg-site"
                               class="news-single--content">
                                <span class="news-single--category">News</span>

                                <h3 class="news-single--title">Honored To Have Angular U On AngularJS.Org Site</h3>
                            </a>
                        </li>
                        <!--<li class="news-single">-->
                            <!--<div class="news-single&#45;&#45;date">-->
                                <!--<span class="news-single&#45;&#45;month">April</span>-->
                                <!--<span class="news-single&#45;&#45;day">3</span>-->
                            <!--</div>-->
                            <!--<a href="/News/2015sf/announcing-steve-souders-keynote-at-angular-u"-->
                               <!--class="news-single&#45;&#45;content">-->
                                <!--<span class="news-single&#45;&#45;category">News</span>-->

                                <!--<h3 class="news-single&#45;&#45;title">Announcing Steve Souders Keynote at Angular U</h3>-->
                            <!--</a>-->
                        <!--</li>-->
                        <li class="news-single">
                            <div class="news-single--date">
                                <span class="news-single--month">March</span>
                                <span class="news-single--day">29</span>
                            </div>
                            <a ng-href="http://weblogs.asp.net/dwahlin/introducing-the-angularu-conference"
                               class="news-single--content">
                                <span class="news-single--category">News</span>

                                <h3 class="news-single--title">Introducing the Angular U Conference - Dan Wahlin</h3>
                            </a>
                        </li>
                        <li class="news-single">
                            <div class="news-single--date">
                                <span class="news-single--month">March</span>
                                <span class="news-single--day">26</span>
                            </div>
                            <a ng-href="https://angularu.com/News/2015sf/why-am-i-so-excited-about-angular-u/"
                               class="news-single--content">
                                <span class="news-single--category">News</span>

                                <h3 class="news-single--title">Why Am I so Excited about Angluar U - Peter Kellner</h3>
                            </a>
                        </li>

                    </ul>

                    <!--<div class="text-center">-->
                    <!--<button class="btn btn-primary">More news</button>-->
                    <!--</div>-->

                </div>
            </div>
        </div>

        <div class="social center-block">
            <h4>Don’t want to miss anything? <a ng-href="https://angularu.com/angu/StayUpToDate" class="type--color">Get
                email alerts</a> or follow us on: </h4>
            <ul>
                <li><a ng-href="http://twitter.com/angularu" target="_blank" class="icon-twitter"></a></li>
                <li><a ng-href="https://www.facebook.com/angularu" target="_blank" class="icon-fb"></a></li>
                <li><a ng-href="https://plus.google.com/b/100446488804563546766/" target="_blank" target="_blank"
                       class="icon-gplus"></a></li>
            </ul>
        </div>

        <section class="content--section" ng-show="home.showSpeakers" id="en_speakerlist">
            <h2 class="type--lead">Speaker List</h2>
            <regular-presenters presenters="speakers.regular"></regular-presenters>
        </section>

        <div class="separator">
            <span ng-click="googleMap()" class="separator--icon icon-pin"></span>
        </div>
        <div id="venue" class="slider nav--section">
            <div class="slide--container">
                <ul rn-carousel slides="slides" class="slide--list">
                    <li>
                        <div class="slide">
                            <div class="slide--content">
                                <p>The conference takes place at the <span class="type--color">Hyatt Regency</span>, a
                                    short distance from the San&nbsp;Francisco Airport and within a short taxi or Bart
                                    ride from San&nbsp;Francisco Downtown.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="faq" class="nav--section container">
            <div class="separator">
                <span class="separator--icon icon-question">?</span>
            </div>

            <div>
                <h2 class="type--lead">FAQ</h2>
                <ul class="list--block list--centered">
                    <li ng-repeat="faq in faqs">
                        <p><strong>Question: {{faq.question}}</strong></p>

                        <p>Answer: {{faq.answer}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
