<div id="home" class="container nav--section">
  <div class="separator">
    <span class="separator--icon icon-code"></span>
  </div>

  <div class="row row-centered">
    <div class="col-md-9 col-centered">
      <h2 class="type--lead">
        <span class="type--color">A 4-day event</span> covering Angular,<br>
        Web Components and ECMAScript 6
      </h2>
      <p class="text-center">Angular University gathers over 30 presenters for 4 days
        packed with presentations and hands on workshops</p>
        <!--<button class="btn btn-primary btn-lg center-block">Read More</button>-->
      <div class="social center-block">
        <h4>Follow us on: </h4>
        <ul>
          <li><a href="http://twitter.com/angularu" target="_blank" class="icon-twitter"></a></li>
          <li><a href="https://www.facebook.com/angularu" target="_blank" class="icon-fb"></a></li>
          <li><a href="https://plus.google.com/b/100446488804563546766/" target="_blank"  target="_blank" class="icon-gplus"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content--section">
    <h2 class="type--lead">Keynote Presenters</h2>
    <div class="persona--container">
      <div class="persona">
        <div class="persona--img">
          <img ng-src="{{vm.baseDirImage}}assets/img/igor-minar.png"  alt="Igor Minar">
        </div>
        <h3><a href="#">Igor Minar</a></h3>
        <!--<h3>baseDirImage: {{vm.baseDirImage}}</h3>-->
        <p>Igor is a software engineer at Google. He is the lead of the AngularJS, practitioner of
          test driven development, open source enthusiast, hacker.</p>
      </div>
      <div class="persona">
        <div class="persona--img">
          <img ng-src="{{vm.baseDirImage}}assets/img/brad-green.png" alt="Brad Green">
        </div>
        <h3><a href="#">Brad Green</a></h3>
        <p>Brad is an engineering director at Google where he manages development of the AngularJS framework and
          Google's internal sales productivity products.</p>
      </div>
      <div class="persona">
        <div class="persona--img">
          <img ng-src="{{vm.baseDirImage}}assets/img/misko-hevery.png" alt="Misko Hevery">
        </div>
        <h3><a href="#">Misko Hevery</a></h3>
        <p>Creator of AngularJS, Works at Google and also known as the Father of AngularJS.</p>
      </div>

      <div class="persona">
        <div class="persona--img">
          <img ng-src="{{vm.baseDirImage}}assets/img/douglas-crockford.png" alt="Douglas Crockford">
        </div>
        <h3><a href="#">Douglas Crockford</a></h3>
        <p>Douglas Crockford is an American computer programmer and entrepreneur who is best known for his ongoing involvement
          in the development of the JavaScript language and for having popularized the data format JSON.</p>
      </div>
    </div>
    <button class="btn btn-primary btn-lg center-block">Full Agenda Coming Soon</button>
  </div>

  <div class="separator">
    <span ng-click="googleMap()" class="separator--icon icon-pin"></span>
  </div>

</div>

<div id="venue" class="slider nav--section">
  <div class="slide--container">
    <ul rn-carousel slides="slides" class="slide--list">
      <li>
        <div class="slide">
          <div class="slide--content">
            <p>The conference takes place at the <span class="type--color">Hyatt Regency</span>, a short distance from the San&nbsp;Francisco Airport and within a short taxi or Bart ride from San&nbsp;Francisco Downtown.</p>
            <!--<button class="btn btn-primary btn-lg">More details</button>-->
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>




<div id="faq" class="nav--section container">
  <div class="separator">
    <span class="separator--icon icon-question">?</span>
  </div>

  <div>
    <h2 class="type--lead">FAQ</h2>
    <ul class="list--block list--centered">
      <li ng-repeat="faq in faqs">
        <p><strong>Question: {{faq.question}}</strong></p>
        <p>Answer: {{faq.answer}}</p>
      </li>
    </ul>
  </div>
</div>
