/**
 * Links
 */
a {
  color: #000;
  outline: none;
  text-decoration: none;
  
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

/**
 * Headings
 */
/* Main header */
.title {
  margin-bottom: 20px;
  padding: 0 0 0 10px;
  color: $header-color;
  line-height: 28px;
  text-transform: uppercase;
  @include handelGothicFont;
  font: {
    size: 28px;
    weight: bold;
  }
  
  &.searchTitle {
    text-transform: none;
    margin-top: 30px;
    padding: 0;
    color: #25aae1;
    font: {
      size: 22px;
      weight: normal;
    }
  }

  .sub {
    text-transform: none;
    font-size: 24px;
  }
}

/* Secondary header */
.hTitle {
  margin: 16px 0;
  font-size: 24px;
  color: $header-color;
}

.hhTitle {
  margin: 16px 0;
  font-size: 16px;
}

/**
 * Simple styling
 */
.content {
  b, strong {
    font-weight: bold;
  }

  i, em {
    font-style: italic;
  }

  img {
    vertical-align: middle;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }

  a.backLink,
  a.innerLink {
    font-weight: normal;
    text-decoration: none;
    color: $secondary-color-hover;

    &:hover {
      color: $secondary-color-lighter;
    }
  }
}

/**
 * Paragraphs & lists
 */
p {
  margin: 0 0 16px;
}

.important {
  font-size: 16px;
  font-weight: bold;
}

.cta {
  margin: 16px 0;
  text-align: center;
}

/* Green-buletted list */
.fancyList {
  margin: 0 0 16px 12px;

  li {
    position: relative;
    padding-left: 20px;
    line-height: 27px;

    &:before {
      position: absolute;
      top: 8px;
      left: 0;
      width: 10px;
      height: 10px;
      @include imageSprites;
      background-position: 0 0;
      content: '';
    }
  }

  &.alt li {
    margin-bottom: 16px;

    &:before {
      background: $primary-color;
    }
  }
}

/* Default in-text list */
.list {
  list-style: initial;
  margin-left: 16px;
  margin-bottom: 16px;
}
