<section class="sponsorBox">
    <h3>PLATINUM</h3>

    <div class="sponsorLinks">
        <div ng-repeat="sponsor in vm.sponsors | filter: {sponsorSupportLevel: 'Platinum'} ">

            <a href="{{ sponsor.webSite }}" target="_blank"
               onclick='javascript:pageTracker._trackPageview("/outbound/Sponsor-{{ sponsor.sponsorName }}");'
               class="sponsorDiv">
                <span ng-if="sponsor.showFeatured == true" class="feature"></span>
                <span class="image"><img
                        src="{{ sponsor.imageUrl }}?format=png&amp;w=87&amp;h=87&amp;scale=both&amp;mode=pad&amp;bgcolor=white"
                        alt=""></span>
                <strong class="caption">
                    {{ sponsor.sponsorName }}
                </strong>
            </a>
        </div>
    </div>

</section>

<section class="sponsorBox">

    <h3>GOLD</h3>

    <div class="sponsorLinks">
        <div ng-repeat="sponsor in vm.sponsors | filter: {sponsorSupportLevel: 'Gold'} ">

            <a href="{{ sponsor.webSite }}" target="_blank"
               onclick='javascript:pageTracker._trackPageview("/outbound/Sponsor-{{ sponsor.sponsorName }}");'
               class="sponsorDiv">
                <span ng-if="sponsor.showFeatured == true" class="feature"></span>
                <span class="image"><img
                        src="{{ sponsor.imageUrl }}?format=png&amp;w=87&amp;h=87&amp;scale=both&amp;mode=pad&amp;bgcolor=white"
                        alt=""></span>
                <strong class="caption">
                    {{ sponsor.sponsorName }}
                </strong>
            </a>
        </div>
    </div>


</section>

<section class="sponsorBox">

    <h3>SILVER</h3>

    <div class="sponsorLinks">
        <div ng-repeat="sponsor in vm.sponsors | filter: {sponsorSupportLevel: 'Silver'} ">

            <a href="{{ sponsor.webSite }}" target="_blank"
               onclick='javascript:pageTracker._trackPageview("/outbound/Sponsor-{{ sponsor.sponsorName }}");'
               class="sponsorDiv">
                <span ng-if="sponsor.showFeatured == true" class="feature"></span>
                <span class="image"><img
                        src="{{ sponsor.imageUrl }}?format=png&amp;w=87&amp;h=87&amp;scale=both&amp;mode=pad&amp;bgcolor=white"
                        alt=""></span>
                <strong class="caption">
                    {{ sponsor.sponsorName }}
                </strong>
            </a>
        </div>
    </div>


</section>
