/* =========================================================================
   Setup
   ========================================================================= */

// Core mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Bootstrap Overrides - modified variables
@import "vendor/bootstrap/variables";

// Our vars & mixins
@import "setup/variables";
@import "setup/mixins";


/* =========================================================================
   Bootstrap
   ========================================================================= */

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/buttons";
@import "bootstrap/forms";
@import "bootstrap/input-groups";


// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";


/* =========================================================================
   Custom Styling
   ========================================================================= */

@import "common/layout";

// Bootstrap Overrides - need to be after Bootstrap Components styles
@import "vendor/bootstrap/grid";

@import "components/common";
@import "components/header";
@import "components/hero";
@import "components/loader";
@import "components/nav";
@import "components/brand";
@import "components/ping-tickets";
@import "components/type";



