/* 3.1 Main Containers
-----------------------------------------------------------------------------*/

body {
  background: $page-background-color;
}

.layoutWrapper {
  width: $layout-width-full;
  margin: 0 auto;
  background: white;
}

@media screen and (max-width: 1020px) {
  .layoutWrapper {
    width: 100%;
  }
}

/* 3.2 Header
-----------------------------------------------------------------------------*/
@import "cssc/header";

/* 3.3 Sidebar
-----------------------------------------------------------------------------*/
@import "cssc/sidebar";

/* 3.4 Middle
-----------------------------------------------------------------------------*/
@import "cssc/content";

/* 3.5 Footer
-----------------------------------------------------------------------------*/
@import "cssc/footer";
