.footer {
  &--top {
    position: relative;
    color: $white;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 2px solid $white;
    background: $gray-dark;

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      bottom: 25px;
      height: 20px;
      border-radius: 50%;
      box-shadow: 0 40px 35px rgba(0, 0, 0, 0.3);
    }

    a {
      color: $white;
    }

    .ping-tickets {
      text-align: center;
      margin-top: 10px;

      @include respond-to(tablet) {
        margin-top: 0;
      }

      @include respond-to(desktop) {
        text-align: right;
      }

      label {
        display: block;
        margin-bottom: 10px;

        @include respond-to(desktop) {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }
  }

  &--contact {
    margin: 6px 0;
    text-align: center;

    @include respond-to(desktop) {
      text-align: right;
    }
  }
}