.hero {
  position: relative;
  color: $white;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url($img-path + 'hero-bg-la.jpg');
  margin-bottom: 75px;
  padding: 30px 0 0;

  @include respond-to(tablet) {

    min-height: 180px;
  }

  &--extra {
    display: block;
    margin: 20px auto 0;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,.56);
    box-shadow: 0 0 30px -4px rgba(0,0,0,0.6);
    background: $brand-primary;

    @include respond-to(tablet) {
      position: absolute;
      bottom: -21px;
      left: 50%;
      min-width: 500px;
      transform: translateX(-50%);
    }
  }

  &--heading {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 2px 3px rgba(0,0,0,.7);
  }
}