.ping-tickets {
  text-align: right;

  @include respond-to(tablet) {
    padding: 9px 0;
  }

  label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-weight: normal;
    font-size: 16px;
  }

  .input-group {
    width: 100%;
    max-width: 300px;
    display: inline-table;
    vertical-align: middle;

    .btn {
      font-size: 14px;
      height: $input-height-base;
      margin-bottom: 0;
    }
  }

  .form-control {
    font-size: 16px;
    @include placeholder {
      color: $gray;
      font-style: italic;
      opacity: 1;
    }
  }
}