.slide {
  &--container {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
    padding: 45px;

    @include respond-to(tablet) {
      height: 425px;
    }
  }

  &--content {
    position: relative;
    background: $white;
    max-width: 530px;
    padding: 15px 15px 10px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.667;
    text-align: center;
    font-style: italic;

    @include respond-to(tablet) {
      padding: 30px 40px 10px;
      font-size: 24px;
    }

    .btn {
      position: relative;
      font-style: normal;
      bottom: -25px;

      @include respond-to(tablet) {
        bottom: -35px;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  &--controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -31px;

    @include respond-to(tablet) {
      left: 10px;
      right: 10px;
    }

    @include respond-to(desktop) {
      left: 0;
      right: 0;
    }
  }

  &--control {
    font-size: 20px;
    padding: 20px 10px;
    color: $gray-lighter;
    background: $black;
    border: 1px solid $gray-lighter;
    cursor: pointer;
    opacity: .8;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .95;
    }

    &.icon-arrow-left {
      float: left;
    }

    &.icon-arrow-right {
      float: right;
    }
  }
}

.slider {
  margin: 5px 0 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}