.nav {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  background: $gray-darker;
  color: $white;
  border-bottom: 1px solid $gray-lighter;
  font-size: 17px;
  font-weight: normal;
  height: $nav-height-mobile;

  @include respond-to(tablet) {
    height: $nav-height;
  }

  &--list {
    @extend %clearfix;
    display: none;
    float: left;
    margin: 0;
    font-weight: bold;
    color: $white;

    @include respond-to(tablet) {
      display: block;
    }

    &.open {
      display: block;
      position: absolute;
      top: $nav-height-mobile;
      z-index: 1;
      left: 0;
      right: 0;
      background: $gray-darker;

      li {
        display: block;
        width: 100%;
        text-align: right;
        float: none;

        a {
          padding: 5px 15px 5px 5px;
        }
      }
    }

    li {
      float: left;

      &.active,
      &:hover {
        a {
          background: $brand-primary;
        }
      }
    }

    a {
      display: block;
      padding: 16px 23px;
      text-transform: uppercase;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.56);
      color: $white;
    }
  }

  &--toggle {
    float: right;
    -webkit-appearance: none;
    border: none;
    background: none;

    @include respond-to(tablet) {
      display: none;
    }

    .icon-burger {
      position: relative;
      background: $white;
      display: block;
      margin: 15px 0;
      height: 4px;
      width: 25px;
      border-radius: 5px;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -9px;
        height: 4px;
        width: 25px;
        border-radius: 5px;
        background: $white;
      }

      &:after {
        top: auto;
        bottom: -9px;
      }
    }
  }
}