.type {
  &--lead {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.333;
    text-align: center;
    font-style: italic;
    font-weight: lighter;

    @include respond-to(tablet) {
      font-size: 30px;
    }
  }

  &--color {
    color: $brand-primary;
    font-weight: normal;
  }
}