<div class="container">
  <div class="separator margin-bottom-small">
    <span class="separator--icon icon-news"></span>
  </div>

  <div class="news-tiles">
    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <h1 class="type--lead medium">News</h1>
      </div>

      <div class="col-sm-4 col-sm-push-4">
        <div class="search-input">
          <input class="search-input--input" type="search" placeholder="Search in the news">
          <button class="search-input--button" type="submit">
            <span class="search-input--button--text">Search</span>
            <span class="search-input--button--icon icon-search"></span>
          </button>
        </div>
      </div>
    </div>

    <!--<div class="separator">-->
    <ul masonry preserve-order class="news-tiles--list masonry">
      <li ng-repeat="newsItem in list.news" class="masonry-brick news-tiles--tile">
        <h2 class="news-tiles--tile--title">{{ newsItem.title }}</h2>

        <div class="news-tiles--tile--info-bar">
          <div ng-if="newsItem.authorImageUrl" class="news-tiles--tile--info-bar--avatar" style="background-image: url({{ newsItem.authorImageUrl }})">
            <img src="{{ newsItem.authorImageUrl }}">
          </div>

          <div class="news-tiles--tile--info-bar--text">By <strong>{{ newsItem.authors }}</strong></div>
          <div class="news-tiles--tile--info-bar--text">{{ newsItem.postDateString }}</div>
        </div>

        <img class="news-tiles--tile--image" src="http://placehold.it/270x110" alt="">

        <div ng-if="newsItem.youTubeUrl" class="news-tiles--tile--iframe-wrapper">
          <iframe src="http://www.youtube.com/embed/C0DPdy98e4c" frameborder="0"></iframe>
        </div>

        <div class="news-tiles--tile--body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum repudiandae, voluptatibus! Ab vero possimus rerum, nobis architecto quod, repellat odio explicabo iste reiciendis non facere mollitia tempore nemo incidunt provident!
        </div>

        <div class="news-tiles--tile--footer">
          <a class="news-tiles--tile--footer--button" href="{{ newsItem.urlWithTitle }}">Read More</a>

          <div class="news-tiles--tile--footer--share">
            <div class="news-tiles--tile--footer--share--title">Share On:</div>

            <ul class="news-tiles--tile--footer--share--list">
              <li class="news-tiles--tile--footer--share--item"><a class="news-tiles--tile--footer--share--link" href="#">
                <span class="news-tiles--tile--footer--share--text">Google+</span>
                <span class="icon-gplus"></span>
              </a></li>
              <li class="news-tiles--tile--footer--share--item"><a class="news-tiles--tile--footer--share--link" href="#">
                <span class="news-tiles--tile--footer--share--text">Facebook</span>
                <span class="icon-fb"></span>
              </a></li>
              <li class="news-tiles--tile--footer--share--item"><a class="news-tiles--tile--footer--share--link" href="#">
                <span class="news-tiles--tile--footer--share--text">Twitter</span>
                <span class="icon-twitter"></span>
              </a></li>
            </ul>

          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="separator">
    <button class="separator--button">More News</button>
  </div>

  <aside class="social-block">
    <div class="social-block--header">
      <h2 class="social-block--title">Do you want to be updated on Angular news and events?</h2>
      <a class="social-block--title link" href="#">Join the Angular U Community!</a>
    </div>

    <ul class="social-block--list">
      <li class="social-block--list--item"><a class="social-block--list--link" href="#">
        <span class="social-block--list--circle-icon gplus">
          <span class="icon-gplus"></span>
        </span>

        <span class="social-block--list--text">On Google+</span>
      </a></li>
      <li class="social-block--list--item"><a class="social-block--list--link" href="#">
        <span class="social-block--list--circle-icon twitter">
          <span class="icon-twitter"></span>
        </span>

        <span class="social-block--list--text">On Twitter</span>
      </a></li>
      <li class="social-block--list--item"><a class="social-block--list--link" href="#">
        <span class="social-block--list--circle-icon">
          <span class="icon-mail"></span>
        </span>

        <span class="social-block--list--text">Subscribe to our mainling list</span>
      </a></li>
    </ul>
  </aside>
</div>
