.btn {
	@include box-sizing(border-box);
	@include arboriaFont;
	position: relative;
	font-size: 18px;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 0 13px;
	display: inline-block;
	height: 43px;
	line-height: 43px;
	background: #2c539e url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA1CAIAAAAPnBZlAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD1JREFUeNpi0Amex8TAwADE/5kY/jNA2QxM/0F8EPv/f7gYjI0hhyz+H2oWVBy/2v8oduNVS8gtCDGAAAMAF1QxVqUNTN4AAAAASUVORK5CYII=) bottom left repeat-x;
}

.btn.download {
	padding-left: 55px;
	position: relative;
}

.btn.download:after {
	content: '';
	background: url($cdm-path + "/Content/Images/CSSC/sprites.png") no-repeat -17px -608px;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 18px;
}

a.collapseControl {
	@include arboriaFont;
	display: inline-block;
	background-color: #fdb133;
	color: white;
	height: 38px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 10px;
	margin: 10px 0;
	cursor: pointer;
}
.collapseControl.opened:after,
.collapseControl.collapsed:after {
	content: '\25bc';
	line-height: 38px;
	margin-left: 5px;
	height: 38px;
}
.collapseControl.opened:after {
	content: '\25b2';
}

.buttonList {
	margin-top: 15px;

	li {
		display: inline-block;
		margin-right: 20px;
	}
}

@media screen and (max-width: 1020px) {
	.btn {
		font-size: 14px;
	}
	.btn.download {
		padding-left: 50px;
	}
}

@media screen and (max-width: 480px) {
	.btn {
		display: block;
		width: 100%;
		padding: 10px 5px;
		line-height: 1.2;
		font-size: 16px;
		height: auto;
		font-size: 14px;
		text-transform: uppercase;
	}
	.btn.download {
		padding-left: 45px;
	}

	.buttonList {
		margin-top: 10px;

		li {
			display: block;
			margin-right: 0;
		}
	}
}
