#home-page {
  height: 0;
  overflow: hidden;
}

.stripe {

  @extend .clearfix;
  @extend .tagStyling;
  @include box-sizing(border-box);
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAGCAIAAABmRdhlAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAChJREFUeNpi/P//PwMDAyOUevDgAZBiYgADxjdv3oConz9/AimAAAMATw0OUT16FasAAAAASUVORK5CYII=) top left repeat-x;
  padding: 40px 20px;

  .content {
    float: left;
    width: 630px;

    h2 {
      @include arboriaFont;
      font-size: 42px;
      color: $primary-color;
      margin-bottom: 20px;
    }

    h3 {
      @include arboriaFont;
      font-size: 24px;
      color: $text-color;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    h3.main {
      color: $primary-color;
    }

    ul.indent {
      @include antennaFont;
      margin-bottom: 20px;
      font-size: 13px;
      color: $text-color;
      list-style-type: none;

      li {
        margin-left: 70px;
        margin-bottom: 5px;
        line-height: 1.5;
      }
    }

    p {
      @include antennaFont;
      font-size: 13px;
      color: $text-color;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }

}

.stripe.noPadding {
  padding: 0;
}

.pageContent {
  @extend .clearfix;
  @extend .tagStyling;
  padding: 30px;
  background: #f6f6f6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHNJREFUeNpi/P79+9v///9zMkDBtWvXGLS0tBjQAT5xbW3t74zfgADI50SWvHLlCoOOjg6GJlziQMO+M4FMRAcgxSBNxIqDXMoEIkjRhEuciRxN2MSZyHUBujgTJd5BFh+NtSEZa+iZlpyMe+PGje8AAQYAZ6qV6iIJcEgAAAAASUVORK5CYII=) bottom left repeat-x;

  p.subtitle {
    @include antennaFont;
    font-size: 18px;
    color: $text-color;
  }
}


h2.purpleRibbon {
  background: url($cdm-path + "/Content/Images/CSSC/sprites.png") no-repeat -85px -652px;
  width: 496px;
  height: 48px;
  color: white;
  font-size: 30px;
  text-indent: 20px;
  line-height: 40px;
  margin-left: -37px;
}

@media screen and (max-width: 1020px) {
  h2.purpleRibbon {
    margin-left: 0;
    padding: 0 10px;
    background: $primary-color;
    height: 40px;
    line-height: 42px;
    text-indent: 0;
    width: auto;
  }
  .stripe {
    padding: 0 20px;
    background: white;
  }
  .stripe .content,
  .stripe .side {
    float: none;
    width: auto;
    padding: 0;
  }

  .stripe .side+.content {
    margin-top: 20px;
  }
  .stripe .content+.side {
    margin-top: 20px;
  }
  .pageContent {
    padding: 25px;

    p.subtitle {
      font-size: 14px;
    }
    h2 {
      font-size: 24px;
    }
  }

}

@media screen and (max-width: 480px) {
  .pageContent {
    padding: 15px;

    p.subtitle {
      font-size: 12px;
    }
    h2 {
      font-size: 18px;
    }
  }
}
