#footer {
  @include antennaFont;
  font-size: 14px;
  color: white;
  background: black url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEJJREFUeNoUiskNADEIAzkWCRqg/zpJgHX8sUcezkxm3t2Zufd+KCISkQcIAP85JyLeoard7e4QMaSqzAwyGOIvwABpriREnKWTQQAAAABJRU5ErkJggg==);
  color: white;
  padding: 10px 0;

  p {
    margin: 15px 0;
    text-align: center;
  }

  a {
    @include arboriaFont;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
  }

  .linksWrap li {
    text-align: center;
  }

}

@media screen and (max-width: 1020px) {
  #footer {
    @include arialFont;
    font-size: 11px;
    margin-top: 20px;

    a {
      @include arialFont;
    }

    p {
      margin: 10px;
    }
  }
}

@media screen and (max-width: 479px) {
}
