.pageHeader {
  position: relative;
  height: 198px;
  background: url($cdm-path + "/Content/Images/CSSC/bg_header.jpg") no-repeat;
}

.siteLogo {
  width: 145px;
  height: 103px;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 51px;

  .ir {
    width: 145px;
    height: 103px;
    position: absolute;
    top: 0;
    left: 0;
    background: url($cdm-path + "/Content/Images/CSSC/logo.png") no-repeat;
  }
}

.eventDate {
  @include arboriaFont;
  position: absolute;
  top: 38px;
  left: 333px;
  font-size: 36px;
}

.socialMedia {
  position: absolute;
  top: 36px;
  right: 76px;
  width: 152px;
  height: 89px;

  a {
    background: url($cdm-path + "/Content/Images/CSSC/sprites.png") no-repeat -19px -19px;
    width: 44px;
    height: 44px;
    position: absolute;
    overflow: hidden;
    text-indent: -999em;
  }

  .fb {
    top: 0;
    left: 0;
  }
  .fb:hover {
    background-position: -545px -11px;
  }

  .tw {
    background-position: -72px -19px;
    top: 0;
    left: 55px;
  }
  .tw:hover {
    background-position: -598px -11px;
  }

  .yt {
    background-position: -125px -19px;
    top: 0;
    left: 107px;
  }
  .yt:hover {
    background-position: -651px -11px;
  }

  .gplus {
    background-position: -47px -64px;
    top: 45px;
    left: 28px;
  }
  .gplus:hover {
    background-position: -573px -56px;
  }

  .in {
    background-position: -100px -64px;
    top: 45px;
    left: 83px;
  }
  .in:hover {
    background-position: -626px -56px;
  }
}

.menuUserBar {
  @include linear-gradient(0deg, $nav-gradient-color-outer 0%, $nav-gradient-color-inner 40%, $nav-gradient-color-inner 60%, $nav-gradient-color-outer 100%);
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;

  .userWrap {
    position: absolute;
    top: 0;
    right: 0;

    a, span {
      display: inline-block;
      padding: 0 20px;
      @include antennaFont;
      color: white;
      font-size: 15px;
      text-transform: uppercase;
      line-height: 45px;
      text-decoration: none;
    }

    span.warningMsg {
      padding: 0;
    }

    .warningMsg img {
      margin: 0 20px;
      line-height: 45px;
      vertical-align: middle;
    }

    a:hover,
    a.hover {
      @include linear-gradient(0deg, $nav-gradient-hover-color-outer 0%, $nav-gradient-hover-color-inner 40%, $nav-gradient-hover-color-inner 60%, $nav-gradient-hover-color-outer 100%);
    }

  }

  .menuList {
    a {
      @include antennaFont;
      font-size: 15px;
      text-transform: uppercase;
    }

    li {
      position: relative;
    }

    > li {
      float: left;

      a {
        @include box-sizing(border-box);
        float: left;
        line-height: 45px;
        padding: 0 20px;
        color: white;
        text-decoration: none;
      }

      > a {
        @include linear-gradient(0deg, $nav-gradient-color-outer 0%, $nav-gradient-color-inner 40%, $nav-gradient-color-inner 60%, $nav-gradient-color-outer 100%);
      }

      > a:hover,
      > a.hover {
        @include linear-gradient(0deg, $nav-gradient-hover-color-outer 0%, $nav-gradient-hover-color-inner 40%, $nav-gradient-hover-color-inner 60%, $nav-gradient-hover-color-outer 100%);
      }

      ul {
        display: none;
        background: $primary-color;
        border-bottom: 2px solid;
        border-bottom-color: rgba( 0, 0, 0, 0.4 );
      }
    }

    > li:hover,
    > li.hover {
      > ul {
        z-index: 5;
        display: block;
        position: absolute;
        top: 45px;
        left: 0;

        li a {
          line-height: 1.2;
          min-height: 45px;
          padding: 14px 20px;
        }

        li.subAvailable {
          > a {
            background-image: url($cdm-path + "/Content/Images/CSSC/sprites.png");
            background-repeat: no-repeat;
            background-position: -746px -70px;
          }
        }

        > li {
          a {
            display: block;
            width: 240px;
            float: none;
            border-top: 1px solid #611e5f;
            border-bottom: 1px solid #a538a2;
            background-color: $primary-color;
          }
          a:hover {
            background-color: $secondary-color;
          }
        }

        > li:hover,
        > li.hover {
          ul {
            z-index: 5;
            display: block;
            position: absolute;
            top: 0;
            left: 240px;
          }
        }

        > li:first-child {
          > a {
            border-top: 0 solid;
          }
        }

        li:last-child {
          > a {
            border-bottom: 0 solid;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .pageHeader {
    height: 143px;
    background-size: 1090px 143px;
    background-position: -50px 0;

    .eventDate {
      left: 300px;
    }
  }
  .homeBanner {
    margin-bottom: 30px;
  }
  .siteLogo {
    width: 109px;
    height: 77px;
    left: 20px;

    .ir {
      @include backgroundCover;
      width: 109px;
      height: 77px;
    }
  }
  .socialMedia {
    display: none;
  }
  .eventDate {
    font-size: 24px;
    left: 240px;
  }
  .menuUserBar {
    height: 30px;

    .userWrap a,
    .userWrap  span,
    .userWrap li a,
    .menuList > li a {
      font: bold 11px/30px Arial, sans-serif;
      padding: 0 7px;
    }

    .userWrap a {
      padding: 0 5px;
    }

    .menuList > li:hover {
      > ul {
        top: 30px;

        li a {
          line-height: 1.2;
          min-height: 30px;
          padding: 7px 7px;
        }

        > li a {
          width: 150px;
        }

        > li:hover,
        > li.hover {
          ul {
            left: 150px;
          }
        }

        li.subAvailable {
          > a {
            background-position: -826px -79px;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 950px) {
  .pageHeader {
    padding-top: 143px;
    height: auto;
    background-size: auto 143px;
    background-position: -50px 0;

    .eventDate {
      left: 250px;
    }

    .menuUserBar {
      position: relative;
      height: auto;
      text-align: center;

      .userWrap {
        position: static;
        width: 100%;
        border-bottom: 1px solid #444;
      }

      .menuList > li {
        float: none;
        display: inline-block;
        text-align: left;

        > a {
          background: none;
        }
        > a:hover,
        > a.hover {
          @include linear-gradient(0deg, $nav-gradient-hover-color-outer 0%, $nav-gradient-hover-color-inner 40%, $nav-gradient-hover-color-inner 60%, $nav-gradient-hover-color-outer 100%);
        }
      }
    }


  }

}

@media screen and (max-width: 479px) {
  .pageHeader {
    padding-top: 100px;
    height: auto;
    background-position: -130px 0;
    .eventDate {
      left: 160px;
    }
  }
  .siteLogo {
    width: 96px;
    height: 68px;
    left: 10px;
    top: 5px;

    .ir {
      @include backgroundCover;
      width: 96px;
      height: 68px;
    }
  }
  .eventDate {
    font-size: 18px;
    top: 25px;
  }
  .menuUserBar {
    position: relative;
    height: auto;
    background: black;
    text-align: center;

    .userWrap {
      position: static;
      width: 100%;
      border-bottom: 1px solid #444;
    }

    .userWrap a,
    .userWrap li a,
    .menuList > li a {
      background: black;
    }

    .menuList > li {
      float: none;
      display: inline-block;
      text-align: left;
    }
  }
}
