<div ng-controller="AnguController">
    <nav class="nav" ng-waypoint scroll-position="scroll" active-nav-section="activeNavSection">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <button class="nav--toggle icon-nav"
                        ng-class="{'open': isNavOpen, '': isNavOpen}"
                        ng-init="isNavOpen = false"
                        ng-click="isNavOpen = !isNavOpen">
                        <span class="icon-burger"></span>
                    </button>
                    <ul class="nav--list"
                        ng-class="{'open': isNavOpen, '': isNavOpen}">
                        <li ng-class="{active: activeNavSection == 'home'}"><a href="" ng-click="scrollTo('home')">Home</a></li>
                        <li ng-class="{active: activeNavSection == 'venue'}"><a href="" ng-click="scrollTo('venue')">Venue</a></li>
                        <li ng-class="{active: activeNavSection == 'faq'}"><a href="" ng-click="scrollTo('faq')">FAQ</a></li>
                    </ul>
                </div>

                <div class="col-md-8">
                    <button class="ping-tickets--toggle uppercase"
                        ng-class="{'open': isTicketOpen, '': isTicketOpen}"
                        ng-init="isTicketOpen = false"
                        ng-click="isTicketOpen = !isTicketOpen">
                        Tickets
                    </button>
                    <div class="ping-tickets" ng-class="{'open': isTicketOpen, '': isTicketOpen}">
                        <label for="pingMeEmail" class="hidden-sm uppercase">Ping me when tickets go on sale:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="pingMeEmail" class="input-" ng-model="pingMeEmailAddress" name="pingMeEmail" placeholder="My Email">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-click="vm.anguPingMe(vm.pingMeEmailAddress)" type="button">OK</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--THIS NEXT LINE IS NECESSARY BECAUSE IT PULLS IN CONTENT FROM INDIVIDUAL HTML FILES
        I'M GUESSING ALL THIS CODE BELOW SHOULD GO INTO anguhome.html AND THAT THE FOOTER THAT IS CURRENTLY
        IN anguhome.html SHOULD GO BELOW THIS view-frame LINE. I'M NOT SURE THE SCROLLING WORKS CORRECTLY AFTER THAT
        BUT IT'S IMPORTANT BECAUSE WE WILL BRING OTHER PAGES IN THAT DO NOT SCROLL (LIKE LOGIN, REGISTER, ETC.) -->
    <div ui-view class="view-frame"></div>
</div>
