<div ng-controller="AnguController">
    <nav class="nav">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav--list">
                        <li class="active"><a href="">Home</a></li>
                        <li><a href="">Venue</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>

                <div class="col-md-8">
                    <div class="ping-tickets">
                        <label for="pingMeEmail" class="hidden-xs hidden-sm">Ping me when tickets go on sale:</label>
                        <div class="input-group hidden-xs">
                            <input type="text" class="form-control" id="pingMeEmail" class="input-" ng-model="pingMeEmailAddress" name="pingMeEmail" placeholder="My Email">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">OK</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero" style="">
        <h1 class="hero--heading"><span class="brand--logo angular"></span>Angular U</h1>
        <span class="hero--extra">June 22 to 25 2015 - Hyatt Regency, San Francisco Airport</span>
    </section>

    <div class="container">
        <div class="separator">
            <span class="icon-code"></span>
        </div>

        <div class="row row-centered">
            <div class="col-md-9 col-centered">
                <h2 class="type--lead">
                    <span class="type--color">A 4-day event</span> covering Angular, Polymer, <br>
                    Web Components and ECMAScript 6
                </h2>
                <p class="text-center">Angular University gather over 30 presenters for 3 days packed with conferences and workshops. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-primary btn-lg center-block">Read More</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div ui-view></div>
</div>

<div ng-if="vm.config.mockData">
    <hr/>
    <b>USING MOCK DATA NOT FROM SERVER.  TESTING ONLY</b>
    {{ vm.config | json }}
</div>

<hr/>
<div ng-repeat="faq in vm.faqs">

    <p><strong>Question:    {{ faq.question }}</strong></p>
    <p>Answer:     {{ faq.answer  }}</p>
    <br/>

</div>
<hr/>
<section class="sponsorBox">
    <h3>PLATINUM</h3>

    <div class="sponsorLinks">
        <div ng-repeat="sponsor in vm.sponsors | filter: {sponsorSupportLevel: 'Platinum'} ">

            <a href="{{ sponsor.webSite }}" target="_blank"
               class="sponsorDiv">
                <span ng-if="sponsor.showFeatured == true" class="feature"></span>
                <span class="image"><img
                        src="{{ sponsor.imageUrl }}?format=png&amp;w=87&amp;h=87&amp;scale=both&amp;mode=pad&amp;bgcolor=white"
                        alt=""></span>
                <strong class="caption">
                    {{ sponsor.sponsorName }}
                </strong>
            </a>
        </div>
    </div>

</section>

<section class="sponsorBox">

    <h3>GOLD</h3>

    <div class="sponsorLinks">
        <div ng-repeat="sponsor in vm.sponsors | filter: {sponsorSupportLevel: 'Gold'} ">

            <a href="{{ sponsor.webSite }}" target="_blank"
               class="sponsorDiv">
                <span ng-if="sponsor.showFeatured == true" class="feature"></span>
                <span class="image"><img
                        src="{{ sponsor.imageUrl }}?format=png&amp;w=87&amp;h=87&amp;scale=both&amp;mode=pad&amp;bgcolor=white"
                        alt=""></span>
                <strong class="caption">
                    {{ sponsor.sponsorName }}
                </strong>
            </a>
        </div>
    </div>


</section>

<section class="sponsorBox">

    <h3>SILVER</h3>

    <div class="sponsorLinks">
        <div ng-repeat="sponsor in vm.sponsors | filter: {sponsorSupportLevel: 'Silver'} ">

            <a href="{{ sponsor.webSite }}" target="_blank"
               class="sponsorDiv">
                <span ng-if="sponsor.showFeatured == true" class="feature"></span>
                <span class="image"><img
                        src="{{ sponsor.imageUrl }}?format=png&amp;w=87&amp;h=87&amp;scale=both&amp;mode=pad&amp;bgcolor=white"
                        alt=""></span>
                <strong class="caption">
                    {{ sponsor.sponsorName }}
                </strong>
            </a>
        </div>
    </div>


</section>




