/**
 * Element display and visiblity
 */
.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

.db {
  display: block;
}

.d-none {
  display: none;
}

/**
 * Admin eyes only
 */
.adminOnly {
  clear: both;
}

/**
 * Clearing
 */
.clearBoth {
  clear: both;
}

.clear {
  clear: both;
  height: 0;
}

/* Usage: @extend .clearfix; */
.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}


/**
 * Rounded container
 */
.roundBorder {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  @include box-shadow(0px 0px 6px 3px hsla(0, 0%, 0%, 0.1));
}

/**
 * Items floating
 */
.fl {
  float: left;
}

.fr {
  float: right;
}

/**
 * Elements sizing
 */
.minw {
  min-width: 100px;
}

/**
 * Elements padding
 */
.pdb {
  padding-bottom: 10px;
}

.pdt7px {
  padding-top: 7px;
}

.pdt10 {
  padding-top: 10px;
}

.pdt0 {
  padding-top: 0px;
}

.pdb15 {
  padding-bottom: 15px;
}

.pdb20 {
  padding-bottom: 20px;
}

.pd10 {
  padding: 10px;
}

/**
 * Elements margin
 */
.m0px {
  margin: 0px;
}

.mgt10px {
  margin-top: 10px;
}

.mgb5 {
  margin-bottom: 5px;
}

.mgt5 {
  margin-top: 5px;
}

.mr10px {
  margin-right: 10px;
}

.mgl10 {
  margin-left: 10px;
}

/**
 * Elements border
 */
.border_b_dotted {
  border-bottom: 1px dotted gray;
}

.border-None {
  border: none;
}

.border-b-None {
  border-bottom: none;
}

/**
 * Text adjustments
 */
.text-center {
  text-align:c enter;
}

.font16px {
  font-size: 16px;
  color: #676767;
}

.font_w {
  font-weight: bold;
}

/**
 * Other generic mods
 */
.bg-None {
  background: none;
}

.cursorP {
  cursor: pointer;
}

/**
 * Probably unused
 */
.largemap {
  color: #0000FF;
  text-align: left;
}

.logotext {
  font-size: 14px;
  font-weight: bold;
  display: none;
}

/*
 * Responsive images
 */
 .js img.responsive {
  display: none;
 }

