//text colors
$text-color: #2e363d;
$header-color: #5c5c5c;

//basic colors
$primary-color: #25aae1;
$primary-color-hover: #29bbf8;
$primary-color-darker: #264179;

$secondary-color: #84197f;
$secondary-color-hover: #a920a0;
$secondary-color-lighter: #ffb3ff;

//other
$warning-color: orange;
$error-color: red;

//shades of gray
$near-white: #fafafa;
$light-gray: #f5f4f5;
$medium-gray: #f3f3f3;
$gray: #e3e3e3;
$dark-gray: #bcbabb;
