/**
 * HTML on th FAQ page is coming directly from the model,
 * there's no imporving it, need to work with whatever it returns.
 */

.faqWrap {
  h3 {
    font-weight: bold;
    font-size: 18px;
  }
}
