/**
 * The simplest possible form.
 */
.formField {
  margin-bottom: 16px;
  max-width: 288px;
  padding-right: 22px;

  label {
    display: block;
    margin-bottom: 5px;
    color: #777;
  }

  input,
  textarea {
    @include calibriFont;
    display: block;
    width: 100%;
    margin: 0;
    padding: 8px 10px;
    border: 1px solid $dark-gray;
    font-size: 14px;
    line-height: 1.43;
    color: #404040;
    background: #fff;
    border-radius: 2px;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  }
}

.checkField {
  position: relative;
  padding: 9px 0 9px 20px;

  label {
    display: block;
    color: #777;
  }

  input {
    position: absolute;
    top: 9px;
    left: 0;
    bottom: 9px;
  }
}

.submitField {
  margin-bottom: 16px;
}

.formSubmit {
  display: inline-block;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  @include handelGothicFont;
  padding: 9px;
  margin: 0;
  border: 0;
  text-shadow: 0 1px rgba(0, 0, 0, .2);
  text-decoration: none;
  color: #fff;
  font: {
    size: 14px;
    weight: normal;
  }
  background: $primary-color;
  cursor: pointer;

  &:hover {
    text-shadow: none;
    background: $primary-color-hover;
  }
}

.formTitle {
  margin: 0 0 20px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
}

/**
 * Error messages
 */
.errorMsg {
  display: block;
  color: $error-color;
  font-size: 13px;
  margin: 5px -11px 5px 11px;
}

/**
 * Warning messages
 */
.warningMsg {
  img {
    vertical-align: bottom;
  }

  a {
    color: $warning-color;
  }
}

/**
 * Boxed form
 */
.boxedForm {
  @include roundBorder;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: #fff;
  border: 1px solid $dark-gray;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  .formTitle {
    margin: -20px -20px 21px;
    text-shadow: 0 1px #fff;
    border-bottom: 1px solid $dark-gray;
    border-radius: 0 10px 0 0;
    @include grayGradient;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }
}

/**
 * Login form
 */
.loginFormBox {
  @include clearfix;

  .checkField {
    float: left;
  }

  .formSubmit {
    float: right;
  }

  .cssc-page & {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .bullSeparator {
    margin: 0 5px;
    float: left;
    color: #999;
  }
  .forgotPass {
    float: left;
  }
  label[for="Login_RememberMe"] {
    float: left;
  }
}

.sbHolder{ 
  background-color: #fff;
  border: solid 1px #c7c6c6;
  font-weight: normal;
  height: 28px;
  position: relative;
  width: 90px;
  margin-top: 2px;
}

.sbSelector {
  display: block;
  height: 30px;
  left: 0;
  line-height: 30px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: 10px;
  top: 0;
  width: 90px;
}
.sbSelector {
  &:link,
  &:visited,
  &:hover {
    font-weight: normal;
    color: #5c5c5c;
    outline: none;
    text-decoration: none;
  }
}
.sbToggle {
  background: url($cdm-path + "/Content/Images/select-icon.png") 9px 11px no-repeat;
  display: block;
  height: 30px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

.sbHolderDisabled {
  background-color: #aaa;
  border: solid 1px #515151;
}

.sbOptions {
  background-color: #fff;
  border: solid 1px #c7c6c6;
  list-style: none;
  left: -1px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  width: 120px;
  z-index: 1;
  overflow-y: auto;
  
  li{
    padding: 0 7px;
  } 

  a {
    border-bottom: dotted 1px #c7c6c6;
    display: block;
    outline: none;
    padding: 7px 0 7px 3px;
    
    &:link,
    &:visited {
      color: #5c5c5c;
      text-decoration: none;
    }
    
    &:hover,
    &:focus,
    .sbFocus {
      color: #000;
    }
  }
  
  li.last a {
    border-bottom: none;
  }
  
  .sbDisabled {
    border-bottom: dotted 1px #c7c6c6;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
  }
  
  .sbGroup {
    border-bottom: dotted 1px #c7c6c6;
    color: #EBB52D;
    display: block;
    font-weight: bold;
    padding: 7px 0 7px 3px;
  }
  
  .sbSub {
    padding-left: 17px;
  }
}
