$cdn: '//d2qdiycv16sgrp.cloudfront.net/';

// assets path
$assets-path: $cdn + 'content/ng/assets/';

// images path
$img-path:  $cdn + 'content/ng/assets/img/';
$social-buttons-path: $img-path + 'social-buttons/';

