// Paths
$img-path: '../img/';

//colors
$white:         #fff;
$black:         #232222;
$brand-primary: #dd1b16;

// Fonts
$font-primary:  $font-family-sans-serif;
$text-color:    $black;

// z-index
$zindex-base:     1;
$zindex-slider:   2;
$zindex-dropdown: 3;

// nav
$nav-height:        58px;
$nav-height-mobile: 41px;