// Paths
$img-path: '../img/';
$social-buttons-path: $img-path + 'social-buttons/';
$cdn-path: 'https://d2qdiycv16sgrp.cloudfront.net/' + 'content/ng/assets/img/';
$cdn-social-buttons-path: $cdn-path + 'social-buttons/';

//colors
$white:         #fff;
$black:         #232222;
$brand-primary: #dd1b16;
$gray-border:   #dcdcdc;

// Fonts
$font-primary:  $font-family-sans-serif;
$text-color:    $black;

// z-index
$zindex-base:     1;
$zindex-slider:   2;
$zindex-dropdown: 3;

// nav
$nav-height:        58px;
$nav-height-mobile: 41px;