<ul class="nav--list" ng-class="{'open': open}">
  <li ui-sref-active="active">
    <a ui-sref="home">Home</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="speakers">Speakers</a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="sessions">Sessions</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="schedule">Schedule</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="pricing">Pricing</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="fun">Fun</a>
  </li>


  <li ng-if="app.config.showSessions === 'True'" ui-sref-active="active">
    <a ui-sref="sessions">Sessions</a>
  </li>
  <li ng-if="hotelBookingUrl" class="visible-xs">
    <a ng-href="{{hotelBookingUrl}}">Book a hotel room</a>
  </li>
</ul>
