.brand {
  &--logo {
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 55px;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include respond-to(tablet) {
      width: 93px;
      height: 99px;
    }

    &.angular {
      background-image: url($img-path + 'angularu_100x100bluenew.png')
    }
  }
}
