.cal-entry {
  position: relative;
  height: 100%;
  border-bottom: 1px solid $gray-lighter;
  margin: 10px 0;
  padding-bottom: 0;

  @include respond-to(tablet) {
    margin: -10px;
    padding: 15px 10px;
    border: none;
  }

  &:hover {
    .cal-entry-tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &-title {
    @include font-smoothing(off);
    font-size: 15px;
    margin: 0 0 5px;
    padding-right: 110px;

    @include respond-to(tablet) {
      padding-right: 0;
    }

    a {
      color: $black;

      @include respond-to(tablet) {
        color: $white;
      }
    }
  }

  &-description {
    margin: 0;
    line-height: 1.4;
  }

  &-speakers {
    margin: 10px 0;
    font-weight: 400;
  }

  &-time {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    line-height: 1;
    font-weight: 500;

    @include respond-to(tablet) {
      position: static;
      margin: 15px 0;
    }

  }

  &-tooltip {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -20px;
    right: -20px;
    // padding-bottom: 15px;
    padding: 15px 10px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
    transition: visibility .2s ease-out,
                opacity .2s ease-out;

    &:before {
      // content: "";
      position: absolute;
      bottom: 15px - 7px;
      left: 50%;
      margin-left: -5px;
      border-top: 7px solid;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }

    &-text {
      // padding: 15px 10px;
      margin: 0;
      font-size: 95%;
    }
  }

  &--red {
    @include cal-entry-color($brand-danger);
    color: $white;
  }

  &--green {
    @include cal-entry-color($brand-success);
    color: $white;
  }

  &--blue {
    @include cal-entry-color($brand-info);
    color: $white;
  }
}