.heading {
  @extend %clearfix;
  position: relative;
  padding: 10px 0;
  margin: 20px 0;

  &--sub {
    font-size: 14px;
    margin: 0;
    clear: left;

    @include respond-to(tablet) {
      font-size: 16px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #b3b3b3;
    border-top: 1px solid #eee;
    opacity: 0.5;
  }

  &.centered {
    text-align: center;
  }

  &.small {
    margin: 0;
    padding: 10px 0;

    h4 {
      margin: 0 10px 5px 0;
      float: left;
    }
  }

  h1, h2, h3,
  .h1, .h2, .h3 {
    font-weight: lighter;
    font-style: italic;
    margin: 0;
  }

  .color {
    font-weight: normal;
    color: $brand-primary;

    & > span {
      color: $text-color;
      font-weight: lighter;
    }
  }

  .social {
    @include respond-to(phone-tablet) {
      float: left;
      margin-top: -2px;

      li {
        a {
          padding: 5px;
        }
      }
    }

    @include respond-to(tablet) {
      float: right;
      clear: left;
      margin-top: -14px;
    }

    ul {
      font-size: 14px;
      @include respond-to(tablet){
        font-size: 18px;
      }
    }

    li {
      margin-right: 5px;
    }
  }
}