.nav {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  background: $gray-darker;
  color: $white;
  border-bottom: 1px solid $gray-lighter;
  font-size: 17px;
  font-weight: normal;
  height: $nav-height-mobile;

  @include respond-to(tablet) {
    height: $nav-height;
  }

  &--list {
    @extend %clearfix;
    display: none;
    float: left;
    margin: 0;
    font-weight: bold;
    color: $white;

    @include respond-to(tablet) {
      position: relative;
      z-index: 1;
      display: flex;
      font-size: 13px;
    }

    @include respond-to(desktop) {
      font-size: 14px;
    }

    &.open {
      display: block;
      position: absolute;
      top: $nav-height-mobile;
      z-index: 1;
      left: 0;
      right: 0;
      background: $gray-darker;

      li {
        display: block;
        width: 100%;
        text-align: right;
        float: none;

        a {
          padding: 5px 15px 5px 5px;
        }
      }
    }

    li {
      float: left;

      @include respond-to(tablet) {
        float: none;
      }

      &.active,
      &:hover {
        a {
          background: $brand-primary;
        }
      }
    }

    a {
      display: block;
      padding: 16px 23px;
      text-transform: uppercase;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.56);
      color: $white;

      @include respond-to(tablet) {
        padding: 19px 5px;
      }

      @include respond-to(desktop) {
        padding: 18px 5px;
      }
    }
  }

  &--toggle {
    position: relative;
    z-index: 1;
    float: right;
    -webkit-appearance: none;
    padding: 3px 0;
    border: none;
    background: none;

    @include respond-to(tablet) {
      display: none;
    }

    .icon-burger {
      position: relative;
      background: $white;
      display: block;
      margin: 15px 0;
      height: 4px;
      width: 25px;
      border-radius: 5px;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -9px;
        height: 4px;
        width: 25px;
        border-radius: 5px;
        background: $white;
      }

      &:after {
        top: auto;
        bottom: -9px;
      }
    }
  }

  &--user {
    position: absolute;
    display: block;
    top: 7px;
    right: 55px;
    width: 32px;
    float: right;
    color: #fff;
    text-transform: uppercase;

    @include respond-to(tablet) {
      right: 0;
      top: 17px;
      width: 115px;
    }

    &--toggle {
      float: left;
      display: block;
      padding: 2px 10px;
      font-size: 20px;
      border: none;
      background: none;
      -webkit-appearance: none;
    }

    &--name {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-top: 3px;
      font-size: 12px;

      @include respond-to(phone-tablet) {
        display: none;
      }
    }

    &--list {
      display: none;

      &.open {
        top: 33px;
        right: -55px;
        left: auto;
        width: 300px;
        display: block;

        @include respond-to(tablet) {
          right: 0;
          top: 41px;
        }
      }
    }

    a {
      color: #fff;
    }
  }

  .ping-tickets {
    text-align: left;
    padding-right: 80px;

    @include respond-to(tablet) {
      text-align: right;
      padding-right: 110px;
    }

    @include respond-to(desktop) {
      padding-right: 120px;
    }

    .input-group {
      @include respond-to(phone-tablet) {
        float: left;
        clear: left;
      }
    }

    .form-control,
    .btn,
    .input-group .btn {
      @include respond-to(phone-tablet) {
        height: 30px;
        padding: 3px 8px;
        margin: 4px 0 2px;
        font-size: 12px;
        line-height: 1.9;
      }
    }

    .btn {
      @include respond-to(tablet) {
        font-size: 13px;
      }

      @include respond-to(desktop) {
        font-size: 12px;
        padding: 9px 12px;
      }

      @include respond-to(wide) {
        font-size: 14px;
        padding: 8px 12px;
      }
    }

    label {
      font-size: 13px;
      @include respond-to(phone-tablet) {
        display: none;
      }
    }
  }

  .ticket-form {
    .input-group {
      display: none;

      &.active {
        display: inline-table;

        @include respond-to(phone-tablet) {
            position: absolute;
            max-width: 180px;
            left: 15px;
            top: 0;
        }

        @include respond-to(tablet) {
          max-width: 210px;
        }
      }
    }
  }
}