.news {
  &--list {
    margin-bottom: 10px;

    li {
      border-bottom: 2px solid $gray-table;
    }
  }

  &-single {
    position: relative;
    min-height: 90px;
    font-size: 14px;
    padding: 14px 5px;

    &--date {
      position: absolute;
      width: 80px;
    }

    &--day {
      display: block;
      font-size: 36px;
      line-height: 1;
    }

    &--month {
      text-transform: uppercase;
    }

    &--category {
      text-transform: uppercase;
    }

    &--title {
      display: block;
      font-size: inherit;
      font-weight: 600;
      color: $brand-primary;
      margin: 0;
      text-shadow: none;
    }

    &--content {
      display: block;
      font-weight: 600;
      padding-left: 80px;
    }

  }
}