.persona {
  max-width: 280px;
  margin: 0 auto;
  text-align: center;

  @include respond-to(phone) {
    margin: 0 15px;
  }

  &.small {
    @extend %clearfix;
    max-width: initial;
    padding: 15px 10px 15px 15px;
    margin: 0 0 12px;
    background: #f3f2f2;
    text-align: left;

    @include respond-to(tablet) {
      height: 124px;
    }

    @include respond-to(desktop) {
      padding: 20px;
    }

    img {
      float: left;
      height: 75px;
      margin-right: 20px;
    }

    h3 {
      font-size: 18px;
      margin: 0 0 2px;

      @include respond-to(desktop) {
        font-size: 21px;
      }
    }

    p {
      font-size: 14px;
      margin: 0;
      line-height: 1.4;

      @include respond-to(desktop) {
        font-size: 16px;
      }
    }

    .btn {
      margin-top: 10px;
    }
  }

  h3,
  h3 a {
    color: $brand-primary;
    font-weight: bold;
    font-style: italic;
  }

  &--img {
    width: 100%;
    height: 190px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  &--container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     max-width: 960px;
     margin: 0 auto;
  }

  &--actions {
    background: #eaeef1;
    text-align: right;
    font-size: 12px;
    color: #fff;
    margin-bottom: 15px;

    &--expand {
      float: left;
      background: #3b3b3b;
      font-weight: 300;
      color: inherit;
      text-transform: uppercase;
      padding: 4px 8px;
    }

    &--text {
      font-weight: 300;
      font-size: inherit;
      color: $gray-base;
      display: inline-block;
      margin: 0 10px 0 0;
      text-transform: uppercase;
    }

    [class^="icon-"],
    [class*=" icon-"] {
      display: inline-block;
      color: inherit;
      padding: 5px;
      font-size: 16px;
    }

    .icon-twitter {
      background: #6caddf;
    }

    .icon-gplus {
      background: #dd1b16;
    }

    .icon-fb {
      background: #3d5a99;
    }

    .icon-chain {
      padding: 0 10px 0 0;
    }
  }

  &--video {
    text-align: left;
    margin-bottom: 10px;

    h3 {
      font-weight: normal;
      font-size: 21px;
      line-height: 1.1;
      min-height: 3.3em;
      display: flex;
      align-items: flex-end;
    }

    p {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #c2c2c2;
    }

    .persona--img {
      margin-bottom: 10px;
    }
  }
}