.speaker-details {
  margin-top: 30px;

  @include respond-to(tablet) {
    margin-top: 50px;
  }

  .heading {
    margin: 0;
    padding-top: 0;
  }

  &--desc {
    margin-bottom: 20px;
  }

  &--image {
    text-align: center;

    img {
      max-width: 100%;
      @include respond-to(tablet) {
        width: 100%;
      }
    }


    .social {
      margin-top: 15px;

      ul {
        text-align: center;

        li {
          display: inline-block;
          margin-bottom: 10px;
          float: none;
        }
      }
    }
  }

  &--info {
    &--date {
      font-style: italic;
      font-size: 18px;
      margin-right: 10px;


      & ~ .label {
        top: -2px;
      }
    }
  }

  .more {
    font-weight: 700;
    color: $brand-primary;
  }
}