.type {
  &--lead {
    margin-bottom: 20px;
    line-height: 1.333;
    text-align: center;
    font-style: italic;
    font-weight: lighter;

    &.medium {
      font-size: $font-size-h2;
    }

    &.small {
      font-size: $font-size-h3;
    }
  }

  &--color {
    color: $brand-primary;
    font-weight: normal;
  }

  &--bigger {
    font-size: 16px;
  }

  &--centered {
    text-align: center;
  }
}
