/**
 * TagCloud Module
 */
.TagCloud /* Applies to the entire tag cloud */ {
  @include trebuchetFont;
  margin: 16px 0;
  padding: 3px;
  border: 1px solid #888;
  text-align: center;
  word-wrap: break-word;

  > span /* Applies to each tag of the tag cloud */ {
    margin-right: 3px;
    text-align: center;
  }

  a {
    font-weight: normal;
    text-decoration: none;
  }

  .TagWeight1 /* Applies to the largest tags */ {
    font-size: 40px;
  }

  .TagWeight2 {
    font-size: 32px;
  }

  .TagWeight3 {
    font-size: 25px;
  }

  .TagWeight4 {
    font-size: 18px;
  }

  .TagWeight5 /* Applies to the smallest tags */ {
    font-size: 12px;
  }
}
