body {
  @include font-smoothing(off);
  font-weight: 300;
  font-size: 16px;
  background: #fff;
}

button {
  @include font-smoothing(on);
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 $container-padding-lg;
  max-width: $container-width + 2 * $container-padding-lg;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0 0 30px;
  text-shadow: 0 0 0 rgba($black, 0.9);
}

a {
  transition: background .25s ease-in-out, color .25s ease-in-out;
}

b {
  font-weight: normal;
}

.body-bag {
  margin-top: $nav-height-mobile;

  @include respond-to(tablet) {
    margin-top: $nav-height;
  }
}


h1, .h1 {
  font-size: 24px;

  @include respond-to(phone) {
    font-size: 36px;
  }
}

h2, .h2 {
  font-size: 20px;

  @include respond-to(phone) {
    font-size: 30px;
  }
}

h3, .h3 {
  font-size: 16px;

  @include respond-to(phone) {
    font-size: 24px;
  }
}

h4, .h4 {
  font-size: 15px;

  @include respond-to(phone) {
    font-size: 22px;
  }
}

h5, .h5 {
  font-size: 13px;

  @include respond-to(phone) {
    font-size: 14px;
  }
}

h6, .h6 {
  font-size: 12px;

  @include respond-to(phone) {
    font-size: 12px;
  }
}
