// Core Bootstrap mixins, variables and Overrides - modified variables
@import "../setup/bootstrap-core";

// Our vars & mixins
@import "../setup/variables";
@import "../setup/mixins";

// Bootstrap parts
@import "../setup/bootstrap-parts";

// Common parts
@import "../common/layout";
@import "../common/utility";
@import "../common/buttons-social";

// Bootstrap Overrides - need to be after Bootstrap Components styles
@import "../vendor/bootstrap/grid";
@import "../vendor/bootstrap/buttons";
@import "../vendor/bootstrap/type";
@import "../vendor/bootstrap/forms";
@import "../vendor/bootstrap/labels";

// Components
@import "../components/common";
@import "../components/loader";
@import "../components/header";
@import "../components/hero";
@import "../components/nav";
@import "../components/content";
@import "../components/brand";
@import "../components/ping-tickets";
@import "../components/type";
@import "../components/separator";
@import "../components/persona";
@import "../components/slide";
@import "../components/list";
@import "../components/sponsor";
@import "../components/social";
@import "../components/footer";
@import "../components/heading";
@import "../components/speaker-details";
@import "../components/speakers";
