<div id="content" class="content">

    <div class="specialform">
        <h1 class="title">Registration</h1>

        <form name="registration_form"
              novalidate
              ng-controller="RegistrationController">

            <fieldset>
                <legend>
                    PERSONAL INFORMATION
                </legend>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <label for="firstName">
                                First Name :
                            </label>
                        </td>
                        <td>
                            <input class="input-shorter-required" id="firstName"
                                   ng-model="vm.registration.firstName"
                                   required ng-minlength="2" ng-maxlength="30"
                                   name="firstName" type="text" >
                        </td>
                        <td>
                            <div ng-messages="registration_form.firstName.$error" class="errorMsg">
                                <div ng-message="minlength">Your first name must be more than 1 character long</div>
                                <div ng-message="maxlength">Your first name can not exceed 30 characters long</div>
                                <div ng-message="required">Your first name must be entered</div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="lastName">
                                Last Name :
                            </label>
                        </td>
                        <td>
                            <input class="input-shorter-required" id="lastName"
                                   placeholder="Last Name"
                                   ng-model="vm.registration.lastName" ng-minlength="2" ng-maxlength="50" required
                                   name="lastName" type="text">
                        </td>
                        <td>
                            <div ng-messages="registration_form.lastName.$error"
                                 ng-messages-include="app/registration/registrationMessages.html"
                                 class="errorMsg">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="email">
                                Email :
                            </label>
                        </td>
                        <td>
                            <input class="input-shorter-required" id="email" placeholder="Email Address"
                                   ng-model="vm.registration.email" required
                                   name="email" type="email">

                        </td>
                        <td>
                            <div ng-messages="registration_form.email.$error"
                                 ng-messages-include="app/registration/registrationMessages.html"
                                 class="errorMsg">
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>


            <fieldset>

                <legend>
                    SESSION CHANGE NOTIFICATIONS (TEXT OR EMAIL)
                </legend>

                <table>
                    <tbody>
                    <tr>
                        <td>
                            <label for="allsessions" class="label_extrawide">
                                All Sessions :
                            </label>
                        </td>
                        <td>
                            <input class="input_button" id="allsessions" ng-model="vm.registration.notificationLevel"
                                   name="NotificationLevel" value="allsessions"
                                   type="radio">
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <label for="plantoattend" class="label_extrawide">
                                Sessions I Plan to Attend :
                            </label>
                        </td>
                        <td>
                            <input class="input_button" ng-model="vm.registration.notificationLevel"
                                   name="NotificationLevel" value="plantoattend" id="plantoattend" type="radio">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="interestedinandplanningtoattend" class="label_extrawide">
                                Sessions I'm Interested in and Planning to Attend :
                            </label>
                        </td>
                        <td>

                            <input class="input_button" id="interestedinandplanningtoattend"
                                   ng-model="vm.registration.notificationLevel"
                                   name="NotificationLevel" value="interestedandplantoattend" type="radio">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="nonotfications" class="label_extrawide">
                                No Notifications :
                            </label>
                        </td>
                        <td>
                            <input class="input_button" id="nonotfications" ng-model="vm.registration.notificationLevel"
                                   name="NotificationLevel" value="none" type="radio">
                        </td>
                    </tr>

                    </tbody>
                </table>
                <br>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <label for="sendnotifybytext" class="label_extrawide">
                                Send Notifications By Text :
                            </label>
                        </td>
                        <td>

                            <input type="checkbox" name="notificationDestinationText" class="form-control"
                                   ng-model="vm.registration.notificationDestinationText" id="sendnotifybytext"
                                   compare-to="vm.registration.notificationLevel"
                                    />
                        <!--</td>-->
                        <!--<td>-->
                            <span ng-messages="registration_form.notificationDestinationText.$error"
                                 ng-messages-include="app/registration/registrationMessages.html"
                                 class="errorMsg">
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="sendnotifybyemail" class="label_extrawide">
                                Send Notifications By Email :
                            </label>
                        </td>
                        <td>
                            <input type="checkbox" name="notificationDestinationEmail" class="form-control"
                                   ng-model="vm.registration.notificationDestinationEmail" id="sendnotifybyemail"
                                   compare-to="vm.registration.notificationLevel"
                                    />
                        <!--</td>-->
                        <!--<td>-->
                            <span ng-messages="registration_form.notificationDestinationEmail.$error"
                                 ng-messages-include="app/registration/registrationMessages.html"
                                 class="errorMsg">
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset>

                <legend>
                    SOCIAL NETWORKS
                </legend>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <label for="twitterHandle">
                                Twitter Handle :
                            </label>
                        </td>
                        <td>
                            <input class="input-shorter-required" id="twitterHandle"
                                   placeholder="ladygadiva"
                                   ng-model="vm.registration.twitterHandle"  ng-maxlength="60"
                                   name="twitterHandle" type="text">



                        </td>
                        <td>
                            <span ng-if="vm.registration.twitterHandle.length > 0">http://twitter.com/{{vm.registration.twitterHandle}}</span>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <label for="facebookid">
                                Facebook Id:
                            </label>
                        </td>
                        <td>
                            <input class="input-shorter-required" id="facebookid"
                                   placeholder="ladygadiva"
                                   ng-model="vm.registration.facebookId"  ng-maxlength="60"
                                   name="facebookId" type="text">
                        </td>
                        <td>
                            <span ng-if="vm.registration.facebookId.length > 0">http://facebook.com/{{ vm.registration.facebookId }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="googleplusid">
                                GooglePlus Id:
                            </label>
                        </td>
                        <td>
                            <input class="input-shorter-required" id="googleplusid"
                                   placeholder="ladygadiva"
                                   ng-model="vm.registration.googlePlusId"  ng-maxlength="60"
                                   name="googlePlusId" type="text">
                        </td>
                        <td>
                            <span ng-if="vm.registration.googlePlusId.length > 0">http://plus.google.com/{{ vm.registration.googlePlusId }}/about</span>
                        </td>
                    </tr>



                    <tr>
                        <td>
                            <label for="linkedinid">
                                LinkedIn Id:
                            </label>
                        </td>
                        <td>
                            <input class="input-shorter-required" id="linkedinid"
                                   placeholder="ladygadiva"
                                   ng-model="vm.registration.linkedIn"  ng-maxlength="60"
                                   name="linkedIn" type="text">
                        </td>
                        <td>
                            <span ng-if="vm.registration.linkedIn.length > 0">http://www.linkedIn.com/in/{{ vm.registration.linkedIn }}/about</span>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </fieldset>


            <p class="regparagraph">

                <button
                        ng-disabled="registration_form.$invalid"
                        ng-click="vm.registration.submitForm()"
                        type="submit">Save
                </button>


            </p>
        </form>
    </div>


</div>