<div id="content" class="content">


    <style type="text/css">
        .fieldset1 {
            padding-top: 10px;
            border: 1px solid #666;
            border-radius: 8px;
            margin-bottom: 20px;
            align-content: space-around;
        }

        .legend1 {
            font-size: larger;
            font-style: normal;
            font-weight: bold;
        }

        .formField input, .formField textarea {
            width: 205px;
            margin-left: 10px;
        }

        .li1 {
            padding-top: 5px;
            align-content: flex-start;
        }

        .ul1 {
            align-content: center;
            margin-bottom: 10px;
        }

        .svccloginbutton {
            margin-left: 10px;
        }
    </style>


    <br/>

    <p>

    </p>


    <div class="boxedForm loginFormBox">
        <h1 class="formTitle">Login</h1>

        <form name="login_form"
              novalidate
              ng-controller="LoginController as vm">

            <div>
                <fieldset class="fieldset1">
                    <legend class="legend1">AngularU Login</legend>
                    <div class="formField">
                        <input id="Login_UserName" name="username"
                               ng-model="vm.login.username"
                               required ng-minlength="2" ng-maxlength="50"
                               placeholder="Username" type="text" value=""/>
                        <span class="field-validation-valid errorMsg"></span>
                    </div>
                    <div class="formField">
                        <input id="Login_Password" name="password"
                               ng-model="vm.login.password"
                               required ng-minlength="2" ng-maxlength="100"
                               placeholder="Password" type="password"/>
                        <span class="field-validation-valid errorMsg" data-valmsg-for="Login.Password"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div style="text-align: center;">
                        <button ng-disabled="login_form.$invalid"
                                ng-click="vm.login.submitForm()"
                                class="button magenta svccloginbutton">SVCC Login</button>
                    </div>

                    <div class="checkField">
                        <input
                               id="Login_RememberMe" name="Login.RememberMe"
                               ng-model="vm.login.rememberMe"
                               type="checkbox" value="true"/>
                        <!--<input-->

                            <!--name="Login.RememberMe" type="hidden" value="false"/>-->
                        <label for="Login_RememberMe">Remember me</label>
                        <span class="bullSeparator">&bull;</span>
                        <a href="/Register/ForgotPassword" class="forgotPass">Forgot Password?</a>
                    </div>


                </fieldset>


                <link rel="stylesheet" href="/Content/Styles/SocialButtons/css/buttons-si.css">

                <style type="text/css">
                    .fieldset1 {
                        padding-top: 10px;
                        border: 1px solid #666;
                        border-radius: 8px;
                        margin-bottom: 20px;
                        align-content: space-around;
                    }

                    .legend1 {
                        font-size: larger;
                        font-style: normal;
                        font-weight: bold;
                    }

                    .formField input, .formField textarea {
                        width: 205px;
                        margin-left: 10px;
                    }

                    .li1 {
                        padding-top: 5px;
                        align-content: flex-start;
                    }

                    .ul1 {
                        align-content: center;
                        margin-bottom: 10px;
                    }

                    .svccloginbutton {
                        margin-left: 10px;
                    }
                </style>


                <!--<fieldset class="fieldset1">-->
                <!--<legend class="legend1">Social Logins (OAuth)</legend>-->
                <!--<ul class="ul1">-->
                <!--<li class="li1">-->
                <!--<button class="btn-si btn-google" style="">Sign in with Google</button>-->
                <!--</li>-->
                <!--<li class="li1">-->
                <!--<button class="btn-si btn-facebook">Sign in with Facebook </button>-->
                <!--</li>-->
                <!--<li class="li1">-->
                <!--<button class="btn-si btn-twitter">Sign in with Twitter </button>-->
                <!--</li>-->
                <!--<li class="li1">-->
                <!--<button class="btn-si btn-microsoft">Sign in with Microsoft </button>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</fieldset>-->

            </div>

        </form>
    </div>
    <br/>


</div>
</div>
<!-- #container-->