<div id="videos" class="container">
    <div class="separator">
        <span class="separator--icon icon-code"></span>
    </div>


    <!--<ul class="speakers">-->
    <!--<li class="row" ng-repeat="video in list.videos">-->
    <!--<p>{{ video.vimeoId }}</p>-->
    <!--</li>-->
    <!--</ul>-->



    <h1 class="type--lead"  ng-show="list.videoSessions.length > 0"  >Session Recordings</h1>

    <div class="persona--container">


        <!-- Session Videos -->
        <div class="persona persona--video" ng-repeat="video in list.videosSessions ">
            <h3><a class="type--color"  href="{{video.sessionUrl}}" target="_blank" >{{video.title}}</a></h3>



            <div class="persona--img">


                <iframe ng-hide="video.videoSourceYouTube" src="{{video.iFrameVideoSrc}}" style="margin-top: 5px;margin-bottom: 5px;" width="290"
                        height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
                </iframe>

                <iframe width="289" height="163"
                        src="{{video.iFrameVideoSrc}}"
                        frameborder="0" allowfullscreen></iframe>
                <!--<iframe ng-show="video.videoSourceYouTube" src="{{video.iFrameVideoSrc}}" style="margin-top: 5px;margin-bottom: 5px;" width="290"-->
                        <!--height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""-->
                        <!--fs= >-->
                <!--</iframe>-->


            </div>


            <div class="persona--actions">
                <a class="persona--actions--expand" href="{{video.urlWithTitle}}" target="_blank"><i class="icon-chain"></i>EXPAND</a>


                <h4 class="persona--actions--text">Share on: </h4>
                <a href="{{video.tweetString}}" target="_blank" class="icon-twitter"></a><br/>
            </div>
            <p>{{video.sessionSpeakerNamesCsv}}<br/>
           Recorded: {{video.sessionTimeFriendly}} in San Francisco</p>
            <span ng-show="video.sponsoredByCurrent"  class="label label-danger label-alt">Sponsored by <a ng-href="{{video.sponsoredByUrl}}" target="_blank" class="type--color">{{ video.sponsoredByName}}</a></span>
        </div>
    </div>


    <br/>
    <h1 class="type--lead">PreConference Recordings</h1>
    <div class="persona--container">
        <!-- PreConference Videos -->
        <div class="persona persona--video" ng-repeat="video in list.videosPreConferences ">
            <h3><a class="type--color"  href="{{video.urlWithTitle}}" target="_blank" >{{video.title}}</a></h3>
            <div class="persona--img">
                <iframe src="{{video.vimeoIframeSrc}}" style="margin-top: 5px;margin-bottom: 5px;" width="290"
                        height="190" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
                </iframe>
            </div>

            <div class="persona--actions">
                <a class="persona--actions--expand" href="{{video.urlWithTitle}}" target="_blank"><i class="icon-chain"></i>EXPAND</a>
                <h4 class="persona--actions--text">Share on: </h4>
                <a href="{{video.tweetString}}" target="_blank" class="icon-twitter"></a><br/>
            </div>

            <p>{{video.descriptionText}}</p>
        </div>
    </div>



</div>
