
//colors
$white:         #fff;
$black:         #232222;
$brand-primary: #dd1b16;
$gray-border:   #dcdcdc;

// Fonts
$font-primary:  $font-family-sans-serif;
$text-color:    $black;

// z-index
$zindex-base:     1;
$zindex-slider:   2;
$zindex-dropdown: 3;

// nav
$nav-height:        58px;
$nav-height-mobile: 41px;

// Container definitions
$container-width: 940px !default;
$container-padding: 15px !default;
$container-padding-md: 15px !default;
$container-padding-lg: 15px !default;