/* Social Buttons Style */
.btn-si {
  width: 100%;
  margin: 0px 10px 10px 0;
  background-position: 1em;
  background-repeat: no-repeat;
  background-size: 2em;
  border-radius: 0.5em;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  height: 4em;
  line-height: 1em;
  padding: 0 2em 0 4em;
  text-decoration: none;
  transition: all 0.5s;
}

.btn-google {
  background-color: #dd4b39;
  background-image: url($cdn-social-buttons-path + 'google.svg');

  &:hover {
    background-color: #e47365;
  }

  &:active {
    background-color: #c23321;
  }
}

.btn-facebook {
  background-color: #3b5998;
  background-image: url($cdn-social-buttons-path + 'facebook.svg');

  &:hover {
    background-color: #4c70ba;
  }

  &:active {
    background-color: #2d4373;
  }
}

.btn-twitter {
  background-color: #00aced;
  background-image: url($cdn-social-buttons-path + 'twitter.svg');

  &:hover {
    background-color: #21c2ff;
  }

  &:active {
    background-color: #0087ba;
  }
}

.btn-microsoft {
  background-color: #e3b30d;
  background-image: url($cdn-social-buttons-path + 'microsoft.svg');

  &:hover {
    background-color: #f3c730;
  }

  &:active {
    background-color: #b38d0a;
  }
}

.btn-github {
  background-color: #2a2a2a;
  background-image: url($cdn-social-buttons-path + 'github.svg');

  &:hover {
    background-color: #444444;
  }

  &:active {
    background-color: #101010;
  }
}

.btn-foursquare {
  background-color: #95c330;
  background-image: url($cdn-social-buttons-path + 'foursquare.svg');

  &:hover {
    background-color: #abd452;
  }

  &:active {
    background-color: #769a26;
  }
}

.btn-instagram {
  background-color: #906248;
  background-image: url($cdn-social-buttons-path + 'instagram.svg');

  &:hover {
    background-color: #ae7a5d;
  }

  &:active {
    background-color: #6e4b37;
  }
}

.btn-linkedin {
  background-color: #0b5ea3;
  background-image: url($cdn-social-buttons-path + 'linkedin.svg');

  &:hover {
    background-color: #0e7ad3;
  }

  &:active {
    background-color: #084273;
  }
}

.btn-evernote {
  background-color: #5ca629;
  background-image: url($cdn-social-buttons-path + 'evernote.svg');

  &:hover {
    background-color: #73cd35;
  }

  &:active {
    background-color: #457d1f;
  }
}

.btn-dropbox {
  background-color: #1b73d1;
  background-image: url($cdn-social-buttons-path + 'dropbox.svg');

  &:hover {
    background-color: #3a8de5;
  }

  &:active {
    background-color: #155aa4;
  }
}

.btn-si-a {
  padding: 25px 15px 25px 65px !important;
  font-family: arial;
}

.smaller .btn-si-a {
  padding-left: 40px !important;
  font-size: 12px;
}
