body {
  @include font-smoothing(on);
  font-weight: lighter;
  background: #fff;
}

button {
  @include font-smoothing(on);
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1080px;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0 0 30px;
}

a {
  transition: background .25s ease-in-out, color .25s ease-in-out;
}

.body-bag {
  margin-top: $nav-height-mobile;

  @include respond-to(tablet) {
    margin-top: $nav-height;
  }
}