<div id="sponsors" class="nav--section container">
  <div class="separator">
    <span class="separator--icon icon-heart"></span>
  </div>


  <h2 class="type--lead">Premiere Sponsor</h2>
  <ul class="sponsor--list">
    <li class="sponsor sponsor--premiere">
      <a href="http://rangle.io/" target="_blank"><img class="sponsor--img"
                                                       ng-src="https://angularu.com/content/ng/angu/images/rangleio-logo-rgb.jpg"
                                                       alt="Rangle.io"></a>
    </li>
    <!--<li class="sponsor sponsor&#45;&#45;premiere">-->
      <!--<a ng-href="http://go.rangle.io/women?utm_campaign=Women%27s%20Initiative%20AngularU%20Contest&utm_medium=web&utm_source=AngularU%20Website%20News" target="_blank"><img class="sponsor&#45;&#45;img"-->
                                                                                                                                                                            <!--ng-src="https://angularu.com/miscpages/AU-contest-au-ad.jpg"-->
                                                                                                                                                                            <!--alt="Rangle.io Woman who code contest"></a>-->
    <!--</li>-->
  </ul>



  <h2 class="type--lead">Gold Sponsors</h2>
  <ul class="sponsor--list">
    <li class="sponsor sponsor--gold">
      <a ng-href="http://form.io/" target="_blank"><img class="sponsor--img"
                                                             ng-src="https://angularu.com/content/ng/angu/images/formio-logo-full.png"
                                                             alt="formio"></a>
    </li>
    <li class="sponsor sponsor--gold">
      <a ng-href="http://orcsweb.com/" target="_blank"><img class="sponsor--img"
                                                     ng-src="https://angularu.com/content/ng/angu/images/orcsweb.png"
                                                     alt="Orcsweb"></a>
    </li>

    <li class="sponsor sponsor--gold">
      <a ng-href="https://microsoft.com" target="_blank"><img class="sponsor--img"
                                                              ng-src="https://angularu.com/content/ng/angu/images/mslogo.png"
                                                              alt="Microsoft"></a>
    </li>

  </ul>

  <h2 class="type--lead">Silver Sponsors</h2>
  <ul class="sponsor--list">
    <li class="sponsor sponsor--silver">
      <a ng-href="http://pluralsight.com/" target="_blank"><img class="sponsor--img"
                                                             ng-src="https://angularu.com/content/ng/angu/images/pluralsight-141-90.png"
                                                             alt="Puralsight"></a>
    </li>

    <li class="sponsor sponsor--silver">
      <a ng-href="https://developers.braintreepayments.com" target="_blank"><img class="sponsor--img"
                                                             ng-src="https://angularu.com/content/ng/angu/images/Braintree_Master_Logo_Crop.png"
                                                             alt="Braintree PayPal"></a>
    </li>




  </ul>



  <h2 class="type--lead">Media Partners</h2>
  <ul class="sponsor--list">
    <li class="sponsor sponsor--silver">
      <a ng-href="https://www.airpair.com/angularjs " target="_blank"><img class="sponsor--img"
         ng-src="https://angularu.com/sponsorimage/20140724233256-877.jpg?format=jpg&width=250"
                                                             alt="AirPair"></a>
    </li>
  </ul>

  <!--<ul class="sponsor&#45;&#45;list">-->
  <!--<li class="sponsor sponsor&#45;&#45;gold">-->
  <!--<a ng-href="#"><img class="sponsor&#45;&#45;img" src="http://placekitten.com/g/300" alt=""></a>-->
  <!--</li>-->
  <!--<li class="sponsor sponsor&#45;&#45;gold">-->
  <!--<a ng-href="#"><img class="sponsor&#45;&#45;img" src="http://placekitten.com/g/300" alt=""></a>-->
  <!--</li>-->
  <!--</ul>-->

  <!--<ul class="sponsor&#45;&#45;list">-->
  <!--<li class="sponsor sponsor&#45;&#45;silver">-->
  <!--<a ng-href="#"><img class="sponsor&#45;&#45;img" src="http://placekitten.com/g/300" alt=""></a>-->
  <!--</li>-->
  <!--<li class="sponsor sponsor&#45;&#45;silver">-->
  <!--<a ng-href="#"><img class="sponsor&#45;&#45;img" src="http://placekitten.com/g/300" alt=""></a>-->
  <!--</li>-->
  <!--<li class="sponsor sponsor&#45;&#45;silver">-->
  <!--<a ng-href="#"><img class="sponsor&#45;&#45;img" src="http://placekitten.com/g/300" alt=""></a>-->
  <!--</li>-->
  <!--<li class="sponsor sponsor&#45;&#45;silver">-->
  <!--<a ng-href="#"><img class="sponsor&#45;&#45;img" src="http://placekitten.com/g/300" alt=""></a>-->
  <!--</li>-->
  <!--<li class="sponsor sponsor&#45;&#45;silver">-->
  <!--<a ng-href="#"><img class="sponsor&#45;&#45;img" src="http://placekitten.com/g/300" alt=""></a>-->
  <!--</li>-->
  <!--</ul>-->

  <div class="text-center">
    <a ng-href="mailto:sponsor@angularu.com" class="btn btn-primary btn-lg">Become a sponsor</a>
  </div>
</div>







<footer class="footer">
  <div class="footer--top">

    <div class="container">
      <div class="row">
        <!--<div class="col-md-7">-->
        <!--<div class="ping-tickets">-->
        <!--<label for="pingMeEmail2">Ping me when tickets go on sale:</label>-->
        <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" id="pingMeEmail2" class="input-" ng-model="pingMeEmailAddress" name="pingMeEmail" placeholder="My Email">-->
        <!--<span class="input-group-btn">-->
        <!--<button ng-click="$scope.anguPingMe" class="btn btn-primary" type="button">OK</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="col-md-12 footer--contact">
          <a ng-href="https://angularu.com/about/Privacy">Privacy</a>
          <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <a ng-href="https://angularu.com/about/CodeOfConduct">Code of Conduct</a>
          <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <a ng-href="mailto:service2015@angularu.com">Contact us</a>
          <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <div class="social alt">
            <h4>Follow us on:</h4>
            <ul>
              <li><a ng-href="http://twitter.com/angularu" target="_blank" class="icon-twitter"></a></li>
              <li><a ng-href="https://www.facebook.com/angularu" target="_blank"  class="icon-fb"></a></li>
              <li><a ng-href="https://plus.google.com/u/0/communities/100721362580915494668"  target="_blank"  class="icon-gplus"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sponsors">

    <div class="container">
      <section class="sponsor--box" ng-show="(vm.sponsors | filter: {sponsorSupportLevel: 'Platinum'}).length > 0"  >
        <h3 class="uppercase">Platinum</h3>
        <div class="sponsor--links">
          <div class="sponsor--img" ng-repeat="sponsor in vm.sponsors | filter: {sponsorSupportLevel: 'Platinum'} ">
            <a ng-href="{{ sponsor.webSite }}" target="_blank"
            class="sponsorDiv">
            <span ng-if="sponsor.showFeatured == true" class="feature"></span>
            <img ng-src="{{ sponsor.imageUrl }}?format=png&amp;w=87&amp;h=87&amp;scale=both&amp;mode=pad"
            alt="{{ sponsor.sponsorName }}" title="{{ sponsor.sponsorName }}">
          </a>
        </div>
      </div>
    </section>

    <section class="sponsor--box" ng-show="(vm.sponsors | filter: {sponsorSupportLevel: 'Gold'}).length > 0">
      <h3 class="uppercase">Gold</h3>
      <div class="sponsor--links">
        <div class="sponsor--img" ng-repeat="sponsor in vm.sponsors | filter: {sponsorSupportLevel: 'Gold'} ">
          <a ng-href="{{ sponsor.webSite }}" target="_blank"
          class="sponsorDiv">
          <span ng-if="sponsor.showFeatured == true" class="feature"></span>
          <img ng-src="{{ sponsor.imageUrl }}?format=png&amp;w=87&amp;h=87&amp;scale=both&amp;mode=pad"
          alt="{{ sponsor.sponsorName }}" title="{{ sponsor.sponsorName }}">
        </a>
      </div>
    </div>
  </section>

  <section class="sponsor--box" ng-show="(vm.sponsors | filter: {sponsorSupportLevel: 'Silver'}).length > 0">
    <h3 class="uppercase">Silver</h3>
    <div class="sponsor--links">
      <div class="sponsor--img" ng-repeat="sponsor in vm.sponsors | filter: {sponsorSupportLevel: 'Silver'} ">

        <a ng-href="{{ sponsor.webSite }}" target="_blank"
        class="sponsorDiv">
        <span ng-if="sponsor.showFeatured == true" class="feature"></span>
        <img ng-src="{{ sponsor.imageUrl }}?format=png&amp;w=87&amp;h=87&amp;scale=both&amp;mode=pad"
        alt="{{ sponsor.sponsorName }}" title="{{ sponsor.sponsorName }}">
      </a>
    </div>
  </div>
</section>






</div>
</div>
</footer>
